---
import { COMPANY_YEAR, SITE_TITLE } from '../consts';
---

<footer class="bg-black-50 mt-12">
	<div class="max-w-6xl mx-auto px-4 py-8">
		<div class="text-center text-gray-600">
			<p>&copy; {COMPANY_YEAR} {SITE_TITLE}. All rights reserved.</p>
		</div>
	</div>
</footer>